body {
display: flex;
height: 1000px;
width: 1000px;
left:545px;
top: -392px;
border-radius: 0px;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.travel{
width: 24px;
height: 24px;
left: 213px;
top: 16px;
}

.card{
position: relative;
width: 471px;
height: 168px;
left: 39px;
top: 100px;
flex: 0 0 auto;
display:flex;
flex-direction: row;
}